/*Colorbox Core Style:*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px;background:#000;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(http://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.33/example3/images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(http://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.33/example3/images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(http://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.33/example3/images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(http://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.33/example3/images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}
/* COMMENT */
#comments h4 {font-size:16px;color:#333;font-weight:bold;
padding:10px 10px ; padding-left:20px; margin-top:10px;}
#comments-block {line-height:1.6em;margin:1em 0 1.5em;color:#7F7D77;}
#comments-block .comment-author {background:#dfdfdf none repeat scroll 0 0;border:1px solid #eaeaea;margin:0.5em 0;padding-bottom:4px;padding-left:8px;padding-top:4px;font-weight:bold;}
#comments-block .comment-body {background:#fff; border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;margin-top:-8px;padding-left:10px;padding-top:10px;}
#comments-block .comment-footer {background:#fff;border-bottom:1px solid #e3e3e3;border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;font-size:11px;line-height:1.4em;margin:-0.25em 0 2em;padding-bottom:5px;padding-left:10px;text-transform:none;}
#comments-block .comment-body p {margin:0;padding-bottom:15px;}
#comment-holder{padding: 10px 15px;}
.comments .comment-block, .comments .comment-thread.inline-thread .comment {
background: #fff;
}
#comments h4, .comments .comment-header, .comments .comment-thread.inline-thread .comment {
position: relative;
}
.comments .comments-content .icon.blog-author {
position: absolute;
top: -12px;
right: -12px;
margin: 0;
background-image: url(http://lh6.ggpht.com/-GDMurKK2tec/T5JCD6hoKoI/AAAAAAAABAc/COHOItBlFWk/author.png);
width: 36px;
height: 36px;
}
.post-comment-link{float:right;}
.comments .comment-replybox-thread{margin-top: 5px;}
.comment-form{max-width:100%;}
.comments .comments-content .comment-header, .comments .comments-content .comment-content{margin: 0 0 8px;
border: 1px dashed #ddd;
padding: 10px;}
.comments .comments-content .comment-thread ol{margin:0 0 10px 0px !important;}
.comments .comments-content .icon.blog-author {top: -2px;right: -2px;}
#comments-block .avatar-image-container img {
background: #fff url(http://3.bp.blogspot.com/-UMSMHaOBzQg/To2XKFseUSI/AAAAAAAACVU/vlvJki_9vqA/s1600/gravatar.png) no-repeat left top;
width:32px;
height:32px
}
a.youtube-lazy-link {
  vertical-align:top;
  background:#555;
  width:560px; height:315px;
  background-size:cover;
  text-decoration:none;
  color:#DDD;
  text-align:left;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display:inline-block;
}
a.youtube-lazy-link:hover {
  text-decoration:none;
  color:#FFF;
}
.youtube-lazy-link-div {
  border:2px solid #000;
  background: url(http://lh4.googleusercontent.com/-QCeB6REIFlE/TuGUlY3N46I/AAAAAAAAAaI/9-urEUtpKcI/s800/youtube-play-button.png) center center no-repeat;
  position:absolute;
}
.youtube-lazy-link-div:hover {
  background: url(http://lh5.googleusercontent.com/-oBFjswrosz4/TuHqainRc3I/AAAAAAAAAbE/t3rMQuSJdLA/s800/youtube-play-button-hover.png) center center no-repeat;
}
.youtube-lazy-link-info {
  font-size: 110%;
  padding: 2px 6px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}
.labels {
margin-left: 0;
font-size: 70%;
line-height: 1;
padding-bottom: 5px;
border-bottom: 1px solid #ccc;
}
.post-header {
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 70%;
}
#related-posts {
margin: 20px 0;
border: 1px solid #999;
padding: 10px 20px;
}
#related-posts ul {
padding: 0;
list-style-type: none;
margin-left: 20px;
line-height: 1.7;
}
#related-posts ul li {
clear: both;
}

h3.heading-border {
margin-bottom: 10px;
}
#related-posts ul li:before {
content: '\00bb';
}
span#blog-pager-older-link {
float: right;
}
span#blog-pager-newer-link {
float: left;
}
.post img {
padding: 4px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 0;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
display: inline-block;
max-width: 100%;
height: auto;
  max-width: 100%;
  height: auto;
}
.post img:hover {
border: 1px solid #38a1db;
background-color: #38a1db;
}
.post-title h1 {
margin: 5px 10px 10px 0;
color: #222;
font-weight: normal;
font-size: 160%;
}
.post-title h1:before {
content: '\002605';
}